@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .widget-bg {
    @apply relative w-full sm:w-[350px] h-[440px] bg-[#404040] rounded-[24px] p-[20px] flex flex-col justify-between;
  }

  .select-size-wrap {
    @apply mt-auto w-full h-[36px] flex items-center justify-center gap-[20px] py-[10px];
  }
  .select-size-wrap button {
    @apply size-[36px] rounded-full border border-[#737373] hover:bg-[#262626] grid place-items-center text-[14px] font-[500] duration-300;
  }

  .small {
    @apply relative w-[290px] h-[290px] sm:size-[290px] bg-[#171717] rounded-[12.4px];
  }
  .medium {
    @apply relative w-[604px] h-[290px] bg-[#171717] rounded-[12.4px];
  }
  .large {
    @apply relative w-[609px] h-[500px] bg-[#171717] rounded-[12.4px];
  }
}

@layer utilities {
  .side-bar * {
    flex-shrink: 0;
  }

  .noti-box {
    scrollbar-width: thin;
    scrollbar-color: #737373 #171717;
  }

  .noti-box::-webkit-scrollbar {
    width: 8px;
  }

  .noti-box::-webkit-scrollbar-track {
    background-color: #171717;
  }

  .noti-box::-webkit-scrollbar-thumb {
    border-radius: 36px;
    background-color: #737373;
  }

  .noti-box::-webkit-scrollbar-button {
    display: none;
  }

  .news-widget {
    background-image: url("/newsImg.png");
    background-position: center;
    background-size: cover;
  }
  .news-widget .cover {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
}
